services:
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    networks:
      - mcp-net
    container_name: clickhouse
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - clickhouse-data:/var/lib/clickhouse
    environment:
      - CLICKHOUSE_USER=default
      - CLICKHOUSE_PASSWORD=qwerty123
      - CLICKHOUSE_DB=default
  mcp:
    build:
      context: .
      dockerfile: ./Dockerfile
    networks:
      - mcp-net
    container_name: mcp
    depends_on:
      - clickhouse
    ports:
      - "4200:4200"
    environment:
      - CLICKHOUSE_HOST=clickhouse
      - CLICKHOUSE_PORT=8123
      - CLICKHOUSE_USER=default
      - CLICKHOUSE_PASSWORD=qwerty123
      - CLICKHOUSE_SECURE=false
      - CLICKHOUSE_VERIFY=false
      - CLICKHOUSE_CONNECT_TIMEOUT=60
      - CLICKHOUSE_SEND_RECEIVE_TIMEOUT=60
      - CLICKHOUSE_MCP_SERVER_TRANSPORT=http
      - CLICKHOUSE_MCP_BIND_PORT=4200
      - CLICKHOUSE_MCP_BIND_HOST=0.0.0.0 # bind to all network interfaces
    command: |
      uv run mcp-clickhouse
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4200/health"]
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  mcp-net:
    driver: bridge

volumes:
  clickhouse-data:

