services:
  clickhouse:
    image: clickhouse:25.10.1.3832-jammy
    networks:
      - mcp-net
    container_name: clickhouse
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - clickhouse-data:/var/lib/clickhouse
      - ./ch/create-mcp-user.sql:/docker-entrypoint-initdb.d/create-mcp-user.sql
    environment:
      - CLICKHOUSE_USER=default
      - CLICKHOUSE_PASSWORD=qwerty123
      - CLICKHOUSE_DB=test
      - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
  mcp:
    build:
      context: .
      dockerfile: ./Dockerfile
    networks:
      - mcp-net
    container_name: mcp
    depends_on:
      - clickhouse
    ports:
      - "4200:4200"
    environment:
      - CLICKHOUSE_HOST=clickhouse
      - CLICKHOUSE_PORT=8123
      - CLICKHOUSE_USER=mcp_user # эта УЗ создается с initial скрипте: ./ch/create-mcp-user.sql
      - CLICKHOUSE_PASSWORD=qwerty123
      - CLICKHOUSE_SECURE=false
      - CLICKHOUSE_VERIFY=false
      - CLICKHOUSE_CONNECT_TIMEOUT=60
      - CLICKHOUSE_SEND_RECEIVE_TIMEOUT=60
      - CLICKHOUSE_MCP_SERVER_TRANSPORT=http
      - CLICKHOUSE_MCP_BIND_PORT=4200
      - CLICKHOUSE_MCP_BIND_HOST=0.0.0.0 # bind to all network interfaces
      - CHDB_ENABLED=false
    command: |
      uv run mcp-clickhouse
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4200/health"]
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  mcp-net:
    driver: bridge

volumes:
  clickhouse-data:
